
<div class="text-center">
    <h1 class="display-4">Welome to the Auction House</h1>
</div>
<p class="text-center"><img src="~/img/DALL·Eabraham lincoln holding a wooden hammer.png" /></p>
<p class="small">Image courtesy of DALL.E: "Abraham Lincoln holding a wooden hammer"</p>
