@model IEnumerable<Buyer>
@{
    ViewData["Title"] = "Buyers";
}

<div class="text-center">
    <h1 class="display-4">Buyers</h1>
</div>
<div class="row">
    <div class="col">
        <ul>
            @foreach(Buyer b in Model)
            {
                <li>@b.Id, @b.FirstName, @b.LastName, @b.Email</li>
            }
        </ul>
    </div>
</div>