@model Standups.ViewModels.HomeVM

@{
    ViewBag.Title = "Standup Meetings";
}

@if (!Model.IsAuthenticated)
{
    @*Present a welcome to non-registered visitors*@
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Welcome 2022-23 class</h2>
            <p>
                Please register for an account so you can begin filling out meeting reports for class! <i class="bi bi-hand-thumbs-up-fill text-success"></i>
            </p>
            <p>
                <a id="register-link" asp-area="Identity" asp-page="/Account/Register" class="btn btn-warning btn-lg">Register</a>
            </p>
        </div>
    </div>
}
else
{
    if (Model.NeedsGroup)
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="display-4">Before you can start filling out meeting reports you need to select your team: </p>
                <p><a asp-controller="MyAccount" asp-action="SelectGroup" id="group-needed" class="btn btn-warning btn-lg">Select your team</a></p>
            </div>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2>New meeting report</h2>
                <p>
                    Have you filled out today's stand up meeting report yet?
                </p>
                <p class ="mt-3">
                    <a asp-controller="Meetings" asp-action="Create" class="btn btn-primary">New report</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Past reports</h2>
                <p>Need to see your past meeting reports?</p>
                <p class="mt-3">
                    <a asp-controller="Meetings" asp-action="Index" class="btn btn-info">Past stand-up reports</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <hr />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <partial name="_QuestionsViewPartial" for="Questions">
            </div>
        </div>
    }
}

@section Scripts
{

}
